@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 568px){
  #root {
    padding: 5%;
  } 
}

@media (min-width: 569px){
  #root {
    position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
}


/*Custom CSS*/

.vcImage {
  width: 100%;
}

.vcTitle {
  font-weight: 200;
}

.loadMoreButton {
  text-align: center;
}

.loadMoreButton a{
  background: #202121;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%);
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 12px 40px;
  text-decoration: none;
}